@import 'tailwindcss';
body {
  background-color: rgb(36, 36, 36);
}
.custom-scroll::-webkit-scrollbar {
  width: 8px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: #1f1f1f;
  border-radius: 4px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: #f59e0b; /* amber-500 */
  border-radius: 4px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #fbbf24; /* более светлый при наведении */
}

/* Для Firefox */
.custom-scroll {
  scrollbar-width: thin;
  scrollbar-color: #f59e0b #1f1f1f;
}
